# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Coverage reports
.coverage
htmlcov/
